:host {
  display: flex;
  position: relative;
}
ul {
  position: relative;
  margin: auto;
  padding: 0;
  width: 0;
  height: 0;
  overflow: visible;
}
li {
  display: block;
  position: absolute;
  white-space: nowrap;
  text-indent: -50%;
}
