:host {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}
.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  min-width: 20rem;
  padding: 7rem 3rem;
}
.loading-title {
  margin: auto;
  display: block;
  text-shadow: var(--text-shadow-color) 0px 0px 1px;
  font-weight: normal;
  padding: 0 5px;
  position: relative;
}
.loading-title sub {
  color: var(--header-sub-color);
  font-size: 0.6em;
}
.welcome-text {
  overflow: hidden;
}
p {
  line-height: 1.6rem;
  margin: 2rem 0 0;
}
ul {
  margin: 0;
}
vk-cat {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.contacts {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  padding: 0.8rem 0.5rem;
}
.contacts a {
  flex: 0 0 auto;
  display: block;
  padding: 0 0.5rem;
}
.contacts a svg {
  fill: var(--text-color);
  width: 1.5em;
  height: 1.5em;
}
